@charset "utf-8";

/* reset */
li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {font: 12px "돋움",dotum,sans-serif; color: #333;}

/* common */
.inner {width: 1200px; margin: 0 auto; outline: 1px dotted red;}

/* header */
header {
  height: 100px;
  outline: 1px dotted red;
}
#slide {
  height: 300px;
  outline: 1px dotted red;
}
#container {
  height: 200px;
  outline: 1px dotted red;
}
footer {
  height: 100px;
  outline: 1px dotted red;
}