@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');

/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color:inherit;}
body {font:12px 'Apple SD Gothic Neo'; color:#333; }

/* common */
/* .inner {width: 1000px; margin: 0 auto; outline: 1px dotted red;} */
.clearFix::after {content: ''; display: block; clear: both;}

/* container */

.c__product{
  margin-top: -50px;
}
#container{
  margin-top: 150px;
  margin-bottom: 400px;
}

#product{
  text-align: center;
}
#product h3{
  margin-top: 40px;
  font-size: 40px;
}
#product .c__boxText{
  margin-bottom: 0;
}
#product span{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.c__box{
  position: relative;
  box-shadow: 5px 5px 7px gray;
  border-radius: 5%;
  top: 250px;
}
.c__box:first-child{
  background: url(../images/container/1/bg.png);
  width: 480px;
  height: 480px;
}
.c__box:nth-child(2){
  background: url(../images/container/2/bg.png);
}
.c__box:nth-child(3){
  background: url(../images/container/3/bg.png);
}
.c__box:nth-child(4){
  background: url(../images/container/4/bg.png);
}
.c__box:nth-child(5){
  background: url(../images/container/5/bg.png);
}
.c__box:nth-child(6){
  background: url(../images/container/6/bg.png);
}
.c__text{
  position: absolute;
  padding-top: 40px;
  top: -96px;
  left: 0%;
  width: 60%;
  font-size: 18px;

  width: 480px;
  height: 480px;
  border-radius: 5%;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
}
#container #product .c__box .swiper-wrapper .c__probox p{
  margin-top: 50px;
  font-weight: bold;
}
.c__probox:hover{
  opacity: 1;
  background: rgb(200, 200, 200);
}
.c__macBox:hover{
  opacity: 1;
  background: rgb(200, 210, 235);
}
.c__iphonBox:hover{
  opacity: 1;
  background: rgb(240, 220, 205);
}
.c__ipadBox:hover{
  opacity: 1;
  background: rgb(200, 200, 200);
}
.c__watchBox:hover{
  opacity: 1;
  background: rgb(200, 200, 200);
}
.c__podsBox:hover{
  opacity: 1;
  background: rgb(235, 205, 205)
}

.c__text h4{

  font-size: 40px;
  padding-bottom: 10px;
}
#product ul{
  margin: 0 auto;
  display: flex;
  flex-wrap :wrap;
  gap: 40px;
}
#product ul li{
  width: 480px;
  height: 480px;
}

#product ul li a{
  padding-top: 200px;
  padding: 8px 23px;
  border-radius: 20px;
  font-weight: 600;
  background: #afafaf;
  color: white;
}
#product ul li a:hover{
  background: #4b4b4b;
}
/* 스와이퍼 */

#container .swiper {
  width: 100%;
  height: 100%;
}

#container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container .c__box .swiper-pagination-bullet{
  padding: 3px;
  border-radius: 50%;
}
#container .swiper-pagination{position: absolute;}

#container .mySwiper{
  border-radius: 5%;
}
#container .swiper-pagination{
  top: 440px;
}
.swiper-pagination span{
  background: #4b4b4b;
}
.c__bold{
  font-weight: bold;
}